/* @media (min-width: 667px) { */

  body {
  
    font-size: 55px;
    background: -webkit-linear-gradient(#080808, #0d080e, #18101a, #050105);
    background: linear-gradient(#161616, #0d080e, #18101a, #050105);
    margin-left: auto;
    margin-right: auto;  
  }
  
  
  header {
    color:#b7eefc;
    text-align: center;
  
  }
  
  .print{
    color:white;
    text-align: center;
  }
  
  
    
  .grid-1 { 
    
   padding: 20px; 
  grid-template-columns: 1fr;
  grid-template-rows: 50px;
  color: white;
  font-size: 20px;
    
  }
  /* Small screens */
 
  
    /* On small screens, we are no longer using row direction but column */
    
  

  .grid-2 {
    
    /* display: flex; */
    flex-shrink: 1;
    flex-direction: column;
    grid-template-columns: 1fr;
    grid-template-rows: 1 auto;
    color: white;
    font-size: 20px;
    padding: 5px;
  }
  

  
  .grid-3 {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    /* color: white;
    font-size: 20px;
    padding: 5px; */
  }
  
  .customButton {
    /* style a link as a push-button */
    /* display: inline-block;  */
    width: auto;
    height: auto;
    
    background:-webkit-linear-gradient(#050413, #15192f, #1b2337, #09091d);
  
    border: 2px solid #340458;
    border-radius: 5px;
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  
  button {

    outline: none;
    border: none;
    background-color: transparent;
  }
  #result {
    margin-top: 20px;
    line-height: 60px;
    font-weight: bold;
    padding: 0 40px;
    background: #50d3ff;
    border: none;
  }
  img:hover {
    animation: shake 0.52s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    /* perspective: 100px; */

  }
  img {
    
       display: flex;
       min-height: 147px;
  }
  
  @keyframes shake {
    10%,
    90% {
      transform: translate3d(-1px, 0, 0);
    }
  
    20%,
    80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%,
    50%,
    70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%,
    60% {
      transform: translate3d(4px, 0, 0);
    }
  }
  
  #buttonBackground {
    background: -webkit-linear-gradient(#eccef3, #dc94eb, #dc94eb, #bd23d4);
    background: linear-gradient(#eccef3, #dc94eb, #dc94eb, #bd23d4);
    background-color: rgba(59, 5, 70, 0.486);
    border: none;
    color: #fee9ff;
  
    text-align: center;
    text-decoration: none;
     /* display: flex;  */
    position: center;
  }
  
  /* h3 {
    color: rgb(32, 2, 32);
    font-size: 30px;
  } */

  
  
  #targetNumber {
    font-size: 45px;
    text-align: center;
    color: #fee9ff;
  }
  
  #target {
    text-align: center;
  }
  
  #userSum {
    background-color: rgb(1, 13, 17);
    color: rgb(247, 242, 247);
    font-size: 45px;
    text-align: center;
  }
  
  #result {
    font-size: 24px;
  }
